.banner {
    position: relative;
    z-index: 1;
    height: 800px;

    //background-image: none !important;
    //min-height: 600px;
    //display:inline-table !important;
    //justify-content: center;
    //align-items: unset;
    //object-fit: contain;
}

.banner,.banner_video {
    align-items: center;
}

.banner, .banner_video {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  

.banner_video {
    z-index: 2;
    opacity: 1;
    margin-left:20%;
}


/*.banner_logo {
    position: relative;
    width: auto;
    top: 100px;
    animation: float 8s ease-in-out infinite;
    z-index: 7 !important;

}*/

/*.banner {
    position: relative;
    z-index: 1;
    height: 800px;
  }*/
  
  
  
  /*.banner_logo {
    position: relative;
    width: auto;
    top: 30px;
    -webkit-animation: float 8s ease-in-out infinite;
            animation: float 8s ease-in-out infinite;
    z-index: 7 !important;
  }
  */


.banner img {
    position: absolute;
    left: 25%;
    top: 10%;
    margin-top: 3%;
    animation: floatBanner 2s ease-in-out infinite alternate;
    z-index: 7 !important;
}  

//effet de flottement du banner//

@keyframes floatBanner {
    
        0%, 100% {
          transform: translate3d(0, 0, 0);
        }
       
        50% {
          transform: translate3d(-12px, -13px, 0);
        }

        100%{
            transform: translate3d(-15px, 10px, 0);
        }
       
      }