.banner{
    position: relative;
    object-fit: contain;
    height: 800px;
    background-image: none !important;
    min-height: 600px;
    background-size: cover;
    display:inline-table !important;
    justify-content: center;
    align-items: center;

}

.banner,.banner_video {
    align-items: center;
}

.banner_video{
    z-index: 1;
    opacity: 1;
    margin-left:20%;
}


.banner_logo{
    position: sticky;S
    top: 50px;
    opacity: 1;
    z-index: 2;
    margin-top: 20%;

}