.story #place {
    background-image: url(../assets/images/Studio_Koukaki-image_place.png);
    position: relative;
   
}

#place .big-cloud {
    position: absolute;
    height: 115px;
    right: 80px;
    top: 50px;
    filter: blur(23px);
    animation: moveCloud 5s linear forwards;
  }

  @keyframes moveCloud {
    from{
        transform: translatex(0);
    }
    to{
        transform: translatex(-300px);
    }
  }



#place .little-cloud {
    position: absolute;
    height: 100px;
    right: 320px;
    top: 150px;
    filter: blur(23px);
    animation: moveCloud 5s linear forwards;
}

@keyframes moveCloud {
    from{
        transform: translatex(0);
    }
    to{
        transform: translatex(-300px);
    }
  }







   


