.main-navigation ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 20px;
    margin-inline: auto;
    max-width: 900px;
    font-size: calc(0.5rem + 1.5vw);

     }

    .nav-menu li {
     position: fixed;
     width: 100vw;
     min-height: 50vh;

     }

     .nav-toggle{
        position:fixed;
        z-index: 10;
        top:30px;
        right: 50px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: none;
        outline: none;
        cursor:pointer;
        display:flex;
        justify-content: center;
        align-items: center;

     }

     .line {
        position:absolute;
        display: block;
        width: 100%;
        height: 2px;
        background: black;
        transition: transform 0.3s ease-out,
        opacity 0.1s ease-out;
    }
   
    .l1 {
        transform: translateY(-10px);
    }
   
    .l3 {
        transform: translateY(-10px);
    }

    .nav-toggle.active .l1 {
        transform: translateY(0px) rotate(135deg);
    }

    .nav-toggle.active .l2 {
        opacity: 0;
    }
    
    .nav-toggle.active .l3 {
        transform: translateY(0px) rotate(-135deg);
    }



