.site-title {
     text-align: center;
     font-family: "quicksand";
     font-size: 1.9 rem;
     margin-top: none;
     display:inline-block;
}

.main-navigation h1{
   margin-right: 2%;
   padding-top: 20px;
}


h1 {
     font-size: 2em;
     margin: 0;
     text-align: center;
     top: 30px;
    }

 h1 span {
     display: flex;
     align-items: center;
     justify-content: center;
     top: 30px;
     margin-bottom: 10px;
     
 }

 #studio h2 {
   overflow: hidden;
   animation:reveal linear;
   animation-timeline: view();
   animation-range-start: cover 0%;
   animation-range-end:contain 50%;
 }
   


 h3 {
    transition: 10s ease-out;
 }
 
 h3:hover {
   scale: 2;
 }

 .story #characters h3 {
    transition: 10s ease-out;
 }
 

 .personnages {
    align-items: center;
    justify-content: center;
 }
 
 


 