.site-title {
     text-align: center;
     font-family: "quicksand";
     font-size: 1.9 rem;
     margin-top: none;
     display:inline-block;
}


h1 {
     font-size: 2em;
     margin: 0;
     text-align: center;
 }

 h1 span {
     align-items: center;
     justify-content: center;

 }

 h3 {
    transition: 10s ease-out;
 }
 
 h3:hover {
   scale: 2;
 }

 .story #characters h3 {
    transition: 10s ease-out;
 }
 

 .personnages {
    align-items: center;
    justify-content: center;
 }
 

 